.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #f5cba7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
    box-sizing: border-box;
  
    .logo img {
      height: 50px;
    }
  
    .contact-us {
      background-color: #2e4053;
      color: #fff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 5px;
    }
}
  