/* 通用样式 */
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  /* Hero Section */
  .hero-section {
    background: url('../../assets/images/hero-bg.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-top: 60px; /* 与navbar高度匹配 */
    padding: 0;
  }
  
  .hero-content {
    text-align: center;
  
    h1 {
      font-size: 8em;
      animation: fadeInDown 1s;
      line-height: 1.0;
    }
  
    p {
      font-size: 2em;
      animation: fadeInUp 1s;
      margin-bottom: 60px;
      line-height: 1.5;
    }
  
    .get-started {
      background-color: #2e4053; 
      color: #fff; 
      padding: 15px 30px; 
      font-size: 18px; 
      border: none;
      border-radius: 5px; 
      cursor: pointer;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #3e5063;
      }
    }
  }
  
  /* Image Gallery */
  .image-gallery {
    display: flex;
    justify-content: center;
    gap: 0px;
    padding: 0;
    width: 100%;
    overflow: hidden;
  
    img {
      width: calc(33.33% - 0px); /* 确保每张图片占据容器的1/3减去间距 */
      height: auto;
      opacity: 0.95;
    }
  }
  
  @media (max-width: 768px) {
    .image-gallery {
      flex-direction: column;
      align-items: center;
    }
  
    .image-gallery img {
      width: 100%;
    }
  }
  
  /* Info Section */
  .info-section {
    padding: 40px 20px;
    background-color: #e67e22;
    color: #2e4053;
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: left;
  
    .info-content {
      width: 60%;
      padding: 0 40px;
      font-size: 1.5em;
      line-height: 1.5;
      margin-bottom: 60px;
      margin-top: 60px;
      font-family: 'Poppins', sans-serif;
    }
  
    @media (max-width: 768px) {
      .info-content {
        width: 100%;
      }
    }
  
    h2 {
      font-size: 2em;
      margin-bottom: 20px;
    }
  
    p {
      font-size: 1.5em; /* 调整段落字体大小 */
      margin-bottom: 20px;
      line-height: 1.5;
    }
  }
  
  /* Split Section */
  .split-section {
    display: flex;
    height: 60vh;
  
    .text-side {
      flex: 1;
      background-color: #e67e22;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 40px;
      color: #2e4053;
      text-align: left;
  
      .button-container {
        padding: 0 80px;
        display: flex;
        justify-content: flex-start;
      }
  
      h2 {
        padding: 0 80px;
        font-size: 2.5em;
        margin-bottom: 20px;
        line-height: 1.5;
      }
  
      p {
        padding: 0 80px;
        font-size: 1.2em;
        margin-bottom: 20px;
        line-height: 1.5;
      }
  
      .view-more {
        background-color: #2e4053;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
      }
    }
  
    .image-side {
      flex: 1;
      background-size: cover;
      background-position: center;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  
  /* Core Packages */
  .core-packages {
    padding: 40px 20px;
    background-color: #fff9c4;
    text-align: center;
  
    h2 {
      font-size: 2em;
      margin-bottom: 20px;
    }
  
    .package {
      margin-bottom: 20px;
    }
  }
  
  .package-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }
  
  .feature-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 350px;
    text-align: center;
    transition: transform 0.3s;
    margin: 20px;
  
    h3 {
      margin-bottom: 10px;
    }
  
    p {
      color: #666;
    }
  
    &:hover {
      transform: translateY(-10px);
    }
  }
  
  /* Testimonials */
  .testimonials {
    padding: 40px 20px;
    background-color: #f5cba7;
    text-align: center;
  
    h2 {
      font-size: 2em;
      margin-bottom: 20px;
    }
  
    .testimonial {
      margin-bottom: 20px;
      font-size: 1.2em;
    }
  }
  
  /* About Us */
  .about-us {
    padding: 40px 20px;
    background-color: #f5cba7;
    text-align: center;
  
    h2 {
      font-size: 2em;
      margin-bottom: 20px;
    }
  
    p {
      font-size: 1.2em;
    }
  }
  
  /* Keyframes */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  