.hero-section {
    background: url('/assets/images/hero-bg.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-top: 60px; /* 与navbar高度匹配 */
    padding: 0;
}
  
.image-gallery, .info-section, .core-packages, .testimonials, .about-us {
    padding: 0 20px;
    margin: 0;
}
  
.hero-content {
    text-align: center;
  
    h1 {
      font-size: 3em;
      animation: fadeInDown 1s;
    }
  
    p {
      font-size: 1.2em;
      animation: fadeInUp 1s;
    }
  
    .get-started {
        background-color: #2e4053; 
        color: #fff; 
        padding: 15px 30px; 
        font-size: 18px; 
        border: none;
        border-radius: 5px; 
        cursor: pointer;
        transition: background-color 0.3s;
      
        &:hover {
          background-color: #3e5063;
        }
    }
}
  
.image-gallery {
    display: flex;
    justify-content: center; // 将图片居中对齐
    gap: 0px; // 图片之间的间距
    padding: 0;
    width: 100%;
    overflow: hidden; // 防止内容溢出
  
    img {
      width: calc(33.33% - 0px); // 确保每张图片占据容器的1/3减去间距
      height: auto; // 自动调整高度以保持比例
      opacity: 0.78; // 设置透明度
  
    }
  }   
  
.info-section {
    padding: 40px 20px;
    background-color: #f5cba7;
    color: #2e4053;
    text-align: left;
    animation: fadeIn 1s;
  
    h2 {
      font-size: 2em;
      margin-bottom: 20px;
    }
  
    p {
        font-size: 1.5em; // 调整段落字体大小
        margin-bottom: 20px;
        line-height: 1.5;
    }
  
}
  
.core-packages {
    padding: 40px 20px;
    background-color: #fff;
    text-align: center;
  
    h2 {
      font-size: 2em;
      margin-bottom: 20px;
    }
  
    .package {
      margin-bottom: 20px;
    }
}

.package-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.feature-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 350px;
    text-align: center;
    transition: transform 0.3s;
    margin: 20px;
  
    h3 {
      margin-bottom: 10px;
    }
  
    p {
      color: #666;
    }
  
    &:hover {
      transform: translateY(-10px);
    }
}

  
  .testimonials {
    padding: 40px 20px;
    background-color: #f5cba7;
    text-align: center;
  
    h2 {
      font-size: 2em;
      margin-bottom: 20px;
    }
  
    .testimonial {
      margin-bottom: 20px;
      font-size: 1.2em;
    }
  }
  
  .about-us {
    padding: 40px 20px;
    background-color: #f5cba7;
    text-align: center;
  
    h2 {
      font-size: 2em;
      margin-bottom: 20px;
    }
  
    p {
      font-size: 1.2em;
    }
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  